<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="RubiksCubeSolver.ConfigSection">
      <section name="Settings" type="RubiksCubeSolver.Configuration.RubiksCubeSolverSettings, RubiksCubeSolver"/>
    </sectionGroup>
    <sectionGroup name="Foat.Puzzles.ConfigSection">
      <section name="ParallelIDAStar" type="Foat.Puzzles.Configuration.ParallelIDAStarSettings, Foat.Puzzles" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <RubiksCubeSolver.ConfigSection>
    <Settings
      PatternSetPath="Please Set PatternSetPath in App.config"
    />
  </RubiksCubeSolver.ConfigSection>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <Foat.Puzzles.ConfigSection>
    <ParallelIDAStar MinNumberOfTasks="1" />
  </Foat.Puzzles.ConfigSection>
</configuration>